
ul,li{list-style:none}
.app-footer-list {

	display: flex;
	@include justify-content(space-around);
	@include align-items(center)
	position: fixed;
	bottom: 0;
	width: 100%;
	height: .5rem;
	z-index: 599;
	background: white;
	display: fiex;
}